<!DOCTYPE html>
<html lang="en">
    <head>
         <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/404.css') }}">
    </head>
    <div class="face">
        <div class="band">
            <div class="red"></div>
            <div class="white"></div>
            <div class="blue"></div>
        </div>
        <div class="eyes"></div>
            <div class="dimples"></div>
            <div class="mouth"></div>
        </div>
            <h1>Oops! Something went wrong!</h1>
    <div class="btn">Return to Home</div>
</html>