<!DOCTYPE html>
<html lang="en">
    <head>
         <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/500.css') }}">
    </head>
        <div class="wrapper">
            <div class="box">
                <h1>500</h1>
                    <p>Sorry, it's me, not you.</p>
                    <p>&#58;&#40;</p>
                    <p><a href="/">Let me try again!</a></p>
            </div>
        </div>
</html>