{% extends "layout.html" %}
{% block content %}
    <header>
         <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand order-md-last order-0" href="/home">SHREYA<span style="color: #c5050c;">BHATIA</span></a>
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}"><span class="fa fa-home fa-lg"></span>Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_page') }}"><span class="fa fa-info fa-lg"></span>About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-newspaper-o fa-lg"></span>Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact_page') }}"><span class="fa fa-address-card fa-lg"></span>Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home_page') }}">Home</a></li>
                <li class="breadcrumb-item active">Message sent</li>
            </ol>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <div class="container alert alert-{{ category }}">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock content %}